* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    width: 100%;
    background-color: var(--nav-bg-color);
    overflow: auto;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    flex: 1;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    display: block;
    padding: 0 10px;
}

nav a:hover {
    background-color: var(--nav-hover-color);
}

/* Light theme styles */
.light-theme {
    --bg-color: #ffffff;
    --text-color: #333333;
    --nav-bg-color: #f0f0f0;
    --nav-text-color: #333;
    --nav-hover-color: #ccc;
}

/* Dark theme styles */
.dark-theme {
    --bg-color: #333333;
    --text-color: #ffffff;
    --nav-bg-color: #444;
    --nav-text-color: #fff;
    --nav-hover-color: #555;
}