* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
    padding-top: 60px;
}

nav {
    width: 100%;
    background-color: var(--nav-bg-color);
    overflow: auto;
    top: 0;
}

.topnav{
    position: fixed;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    flex: 1;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: var(--nav-text-color);
    display: block;
    padding: 0 10px;
}

nav a:hover {
    background-color: var(--nav-hover-color);
}

.light-theme {
    --bg-color: #F7F7FF;
    --text-color: #131112;
    --nav-bg-color: #C49991;
    --nav-text-color: #60656F;
    --nav-hover-color: #a5766e;
}

.dark-theme {
    --bg-color: #000000;
    --text-color: #F0EFF4;
    --nav-bg-color: #3A3E3B;
    --nav-bg-color-l: #5b5d5b;
    --nav-text-color: #9E829C;
    --nav-hover-color: #291528;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--nav-hover-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--nav-text-color);
    width: 80%;
    max-width: 500px;
}

.close {
    color: red;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tab {
    border: 2px solid var(--nav-text-color);
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}


.tabcontent {
    display: none;
    padding: 10px 10px;
    border-top: none;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;

}

label{
    margin-bottom: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
    
.light-theme label,
.light-theme input,
.light-theme button[type="submit"],
.dark-theme label,
.dark-theme input,
.dark-theme button[type="submit"] {
    color: var(--text-color);
}
    
.light-theme button[type="submit"],
.dark-theme button[type="submit"] {
    background-color: var(--nav-bg-color);
}
    
.light-theme button[type="submit"]:hover,
.dark-theme button[type="submit"]:hover {
    background-color: var(--nav-hover-color);
}
    
.dark-theme button[type="submit"]:active {
    background-color: var(--text-color);
}
    
.dark-theme .tablinks {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}
    
.dark-theme .tablinks:hover {
    background-color: var(--nav-hover-color);
    color: var(--nav-text-color);
}
    
.dark-theme .tablinks.active {
    background-color: var(--nav-hover-color);
}
    
.dark-theme .tablinks:active {
    background-color: var(--text-color);
}
    
.dark-theme .modal-content {
    background-color: var(--nav-hover-color);
}
    
.dark-theme input {
    background-color: var(--nav-text-color);
    color: var(--text-color);
}
    
.dark-theme button[type="submit"]:active {
    background-color: var(--text-color);
}
    
.dark-theme .tablinks {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}
    
.dark-theme .tablinks:hover {
    background-color: var(--nav-hover-color);
    color: var(--nav-text-color);
}
    
.dark-theme .tablinks.active {
    background-color: var(--nav-hover-color);
}
    
.dark-theme .tablinks:active {
    background-color: var(--text-color);
}
    
.dark-theme .modal-content {
    background-color: var(--nav-hover-color);
}
    
.dark-theme input {
    background-color: var(--nav-text-color);
    color: var(--text-color);
}

.light-theme button[type="submit"]:active {
    background-color: var(--nav-text-color);
}
        
.light-theme .tablinks {
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}
        
.light-theme .tablinks:hover {
    background-color: var(--nav-hover-color);
    color: var(--nav-text-color);
}
        
.light-theme .tablinks.active {
background-color: var(--nav-hover-color);
}
        
.light-theme .tablinks:active {
    background-color: var(--text-color);
}
        
.light-theme .modal-content {
    background-color: var(--nav-bg-color);
}
        
.light-theme input {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links li {
    padding: 0 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 16px;
  }
  
  .footer-links a:hover {
    color: var(--nav-hover-color);
  }
  
  footer {
    background-color: var(--nav-bg-color);
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#aboutbody{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.about {
    text-align: center;
    /* background-color: var(--nav-hover-color); */
    border-radius: 12px;
    box-shadow: 0 5px 7px var(--nav-hover-color);
    padding: 2rem;
    margin-bottom: 2rem;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--nav-text-color);
}

.about p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.about ul {
    list-style-position: inside;
    padding: 0;
}

.about a {
    color: var(--nav-text-color);
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.section-divider {
    width: 100%;
    height: 2px;
    background-color: var(--nav-hover-color);
    margin: 2rem 0;
}

#contactbody{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* color: var(--text-color);
    background-color: var(--bg-color); */
}

.contact-form {
    background-color: var(--nav-hover-color);
    border-radius: 12px;
    box-shadow: 0 5px 7px var(--nav-hover-color);
    padding: 2rem;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--nav-text-color);
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.contact-form label {
    font-size: 1.1rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--nav-hover-color);
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: var(--text-color);
    color: var(--nav-text-color);
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.contact-form button:hover {
    background-color: var(--nav-bg-color);
}



.light-theme #message,
.light-theme #file-upload,
.light-theme #reason {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.dark-theme #message,
.dark-theme #file-upload,
.dark-theme #reason {
    background-color: var(--nav-text-color);
    color: var(--text-color);
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    line-height: 1.6;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 12px;
    box-shadow: 0 5px 7px var(--nav-hover-color);
    

}

.content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}


.content p, .content ol {
    font-size: 1rem;
    margin-bottom: 1rem;

}

.content a {
    color: var(--nav-text-color);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content ol {
    list-style-position: inside;
    padding-left: 1rem;}


    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: calc(100vh - var(--footer-height));
    }
    
    .content {
        max-width: 800px;
        width: 100%;
    }

    h1, h2, strong{
        color: var(--nav-text-color);
    }
    .hero {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .features, .examples, .get-started {
        background-color: var(--bg-color);
        color: var(--text-color);
        padding: 1.5rem;
        border-radius: 5px;
        margin-bottom: 1.5rem;
    }
    .tabcontent > h3  {
        visibility: hidden;
    }

   select{
        background-color: var(--nav-text-color);
        color: var(--text-color);
        margin-bottom: 10px;
    }

    .light-theme select{
        background-color: var(--bg-color);
    }

    input[type='checkbox'] {
        accent-color: var(--nav-text-color);
        margin-bottom: 10px;
        
    }
    